@model Forum.Models.FindVM
@{
    ViewData["Title"] = "Find";
}
<br />
<form asp-action="Redireccionador" method="post">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8">
                <div class="card card-sm">
                    <div class="card-body row no-gutters align-items-center">
                        <div class="col-auto">
                            <i class="fas fa-search mr-3"></i>
                        </div>
                        <div class="col">
                            <input class="form-control form-control-lg form-control-borderless" type="search" placeholder="Search name" name="searchValue">
                        </div>
                        <div class="col-auto ml-3">
                            <input class="btn btn-lg btn-danger" type="submit" value="Search" />
                        </div>
                    </div>
                </div>
            </div>
            <!--end of col-->
        </div>
        <div class="row justify-content-center mt-3">
            <div class="card card-sm">
                <div class="card-body row no-gutters align-items-center">
                    <div class="form-check mx-5">
                        <input class="form-check-input" type="radio" name="radioValue" id="radioCharacter" value="character" checked>
                        <label class="form-check-label" for="radioCharacter">Character</label>
                    </div>
                    <div class="form-check mx-5">
                        <input class="form-check-input" type="radio" name="radioValue" id="radioComic" value="comic">
                        <label class="form-check-label" for="radioComic">Comic</label>
                    </div>
                    <div class="form-check mx-5">
                        <input class="form-check-input" type="radio" name="radioValue" id="radioCreator" value="creator">
                        <label class="form-check-label" for="radioCreator">Creator</label>
                    </div>
                    <div class="form-check mx-5">
                        <input class="form-check-input" type="radio" name="radioValue" id="radioSeries" value="series">
                        <label class="form-check-label" for="radioSeries">Series</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<br />
<hr />
<br />

    @if (Model.Characters.Count() <= 0)
    {
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6"><h1>Character</h1></div>
                <div class="col-sm-12 col-md-6"><h1>Comic</h1></div>
            </div>
            <hr />
            <div class="row">
                <div class="col-sm-12 col-md-6"><h1>Creator</h1></div>
                <div class="col-sm-12 col-md-6"><h1>Series</h1></div>
            </div>
        </div>
    }
    else
    {
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <h2>CHARACTERS</h2>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <h2>COMICS</h2>
                    </div>

                    @for (var i = 0; i < Model.Characters.Count(); i++)
                    {

                        var imageCharacter = Model.Characters.ElementAt(i).Thumbnail.Path + "/portrait_medium." + Model.Characters.ElementAt(i).Thumbnail.Extension;
                        var descriptionCharacter = Model.Characters.ElementAt(i).Description.Length > 100 ? Model.Characters.ElementAt(i).Description.Substring(0,100) : Model.Characters.ElementAt(i).Description;

                        <div class="col-sm-12 col-md-6 my-2">
                            <div class="border rounded d-flex">
                                <div class="col-md-3">
                                    <a asp-action="CharacterDetails" asp-route-id="@Model.Characters.ElementAt(i).Id"><img src="@imageCharacter" class="img-thumbnail" alt="..."></a>
                                </div>
                                <div class="col-md-9 p-2">
                                    <h6 class="">@Model.Characters.ElementAt(i).Name</h6>
                                    <p class="small">@descriptionCharacter</p>
                                    <p class="small"><small class="text-muted">@Model.Characters.ElementAt(i).Modified</small></p>
                                </div>
                            </div>
                        </div>

                        var imageComic = Model.Comics.ElementAt(i).Thumbnail.Path + "/portrait_medium." + Model.Comics.ElementAt(i).Thumbnail.Extension;
                        var descriptionComic = Model.Comics.ElementAt(i).Description.Length > 100 ? Model.Comics.ElementAt(i).Description.Substring(0,100) : Model.Comics.ElementAt(i).Description;

                        <div class="col-sm-12 col-md-6 my-2">
                            <div class="border rounded d-flex">
                                <div class="col-md-3">
                                    <a asp-action="ComicDetails" asp-route-id="@Model.Comics.ElementAt(i).Id"><img src="@imageComic" class="img-thumbnail" alt="..."></a>
                                </div>
                                <div class="col-md-9 p-2">
                                    <h6 class="">@Model.Comics.ElementAt(i).Title</h6>
                                    <p class="small">@descriptionComic</p>
                                    <p class="small"><small class="text-muted">@Model.Comics.ElementAt(i).Modified</small></p>
                                </div>
                            </div>
                        </div>
                    }

                    <div class="container">
                        <br />
                        <hr />
                        <br />
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <h2>CREATORS</h2>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <h2>SERIES</h2>
                        </div>
                        @for (var i = 0; i < Model.Creators.Count(); i++)
                        {
                            var imageCreator = Model.Creators.ElementAt(i).Thumbnail.Path + "/portrait_medium." + Model.Creators.ElementAt(i).Thumbnail.Extension;
                            <div class="col-sm-12 col-md-6 my-2">
                                <div class="border rounded d-flex">
                                    <div class="col-md-3">
                                        <a asp-action="CreatorDetails" asp-route-id="@Model.Creators.ElementAt(i).Id"><img src="@imageCreator" class="img-thumbnail" alt="..."></a>
                                    </div>
                                    <div class="col-md-9 p-2">
                                        <h6 class="">@Model.Creators.ElementAt(i).FullName</h6>
                                        <p class="small"><small class="text-muted">@Model.Creators.ElementAt(i).Modified</small></p>
                                    </div>
                                </div>
                            </div>

                            var imageSerie = Model.Series.ElementAt(i).Thumbnail.Path + "/portrait_medium." + Model.Series.ElementAt(i).Thumbnail.Extension;
                            var descriptionSerie = Model.Series.ElementAt(i).Description.Length > 100 ? Model.Series.ElementAt(i).Description.Substring(0, 100) : Model.Series.ElementAt(i).Description;

                            <div class="col-sm-12 col-md-6 my-2">
                                <div class="border rounded d-flex">
                                    <div class="col-md-3">
                                        <a asp-action="SerieDetails" asp-route-id="@Model.Series.ElementAt(i).Id"><img src="@imageSerie" class="img-thumbnail" alt="..."></a>
                                    </div>
                                    <div class="col-md-9 p-2">
                                        <h6 class="">@Model.Series.ElementAt(i).Title</h6>
                                        <p class="small">@descriptionSerie</p>
                                        <a href="@Model.Series.ElementAt(i).Urls.ElementAt(0).url" target="_blank">Get More Info</a>
                                        <p class="small"><small class="text-muted">@Model.Series.ElementAt(i).Modified</small></p>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                        </div>
                </div>
            </div>
    }
